server {
    listen {{ ttyd_nginx_port }};

    location /fonts/ {
        alias /usr/share/fonts/agave/;
    }

    location / {
        proxy_pass http://127.0.0.1:{{ ttyd_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header Accept-Encoding "";
        proxy_read_timeout 43200s;

        gzip off;
        sub_filter '</head>' '
            <script>
                document.addEventListener("keydown", function(e) {
                    if (e.ctrlKey && e.key === "w") { e.preventDefault(); }
                }, true);
            </script>
        </head>';
        sub_filter_once on;
    }
}
