server {
    listen {{ ttyd_nginx_port }};

    location /fonts/ {
        alias /usr/share/fonts/agave/;
    }

    location / {
        proxy_pass http://127.0.0.1:{{ ttyd_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header Accept-Encoding "";
        proxy_read_timeout 43200s;

        gzip off;
        sub_filter '</head>' '
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap">
            <script>
                window.addEventListener("load", function() {
                    document.fonts.load("1em \"JetBrains Mono\"").then(function() {
                        window.dispatchEvent(new Event("resize"));
                        setTimeout(function() { window.dispatchEvent(new Event("resize")); }, 500);
                    });
                });
            </script>
        </head>';
        sub_filter_once on;
    }
}
