[Unit]
Description=ttyd terminal web server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ttyd --port {{ ttyd_port }} --writable --font-family "AgaveNerdMono Nerd Font Mono" zellij attach -c remote
Restart=on-failure

[Install]
WantedBy=default.target
