[Unit]
Description=ttyd - Share your terminal over the web
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart=/usr/local/bin/ttyd --port {{ ttyd_port }} --font-family "AgaveNerdMono Nerd Font Mono" bash
Restart=on-failure

[Install]
WantedBy=multi-user.target
