[Unit]
Description=ttyd terminal web server
After=network.target

[Service]
Type=simple
ExecStart={{ ansible_user_dir }}/.local/bin/ttyd-start.sh
Restart=on-failure

[Install]
WantedBy=default.target
